<.header>
  Assigned tag {@assigned_tag.id}
  <:subtitle>This is a assigned_tag record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/admin/assigned_tags/#{@assigned_tag}/edit"} phx-click={JS.push_focus()}>
      <.button>Edit assigned_tag</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Number">{@assigned_tag.number}</:item>
  <:item title="Date">{@assigned_tag.date}</:item>
  <:item title="Remaining number">{@assigned_tag.remaining_number}</:item>
</.list>

<.back navigate={~p"/admin/assigned_tags"}>Back to assigned_tags</.back>

<.modal
  :if={@live_action == :edit}
  id="assigned_tag-modal"
  show
  on_cancel={JS.patch(~p"/admin/assigned_tags")}
>
  <.live_component
    module={MedcampWeb.AssignedTagLive.FormComponent}
    id={@assigned_tag.id}
    title={@page_title}
    action={@live_action}
    assigned_tag={@assigned_tag}
    patch={~p"/admin/assigned_tags"}
  />
</.modal>
