<main>
  <div>
    <.flash_group flash={@flash} />

    <.mobile_nav_bar />

    <div class="flex min-h-screen flex-col p-4 lg:flex-row">
      <div>
        <.lab_sidebar current_user={@current_user} active_tab={@active_tab} />
      </div>
      <div class="layout-content flex-1 min-w-0 overflow-x-auto bg-slate-50 p-2 md:p-6 lg:ml-72">
        {@inner_content}
      </div>
    </div>
  </div>
</main>
